  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'" class="mt-5 carousel">
    <mdb-carousel-item>
      <img
        src="https://img1.wsimg.com/isteam/ip/a1eb2d1c-d4b8-4302-a7d1-bde625bfd019/IMG_0729.png"
        class="d-block w-100 img-fluid"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://img1.wsimg.com/isteam/ip/a1eb2d1c-d4b8-4302-a7d1-bde625bfd019/IMG_0733.png"
        class="d-block w-100 img-fluid"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://img1.wsimg.com/isteam/ip/a1eb2d1c-d4b8-4302-a7d1-bde625bfd019/IMG_0673.png"
        class="d-block w-100 img-fluid"
        alt="..."
      />
    </mdb-carousel-item>
  </mdb-carousel>
<div class="lightbox mt-1 mb-3 text-center">
    <a class="nav-link" href="/photo"><h5 class="mt-3">Show More Photos +</h5></a>
</div>
 
