<section class="about-section text-center bg-dark pt-3" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 mt-5">
                <h2 class="text-white mb-4">About Us</h2>
                <p class="text-white-50">
                    Forever After is an event center based in Pontoon Beach, Illinois. We're right across the Mississippi From St. Louis. Lindy, the owner and founder of "Forever After," is the proud owner of two other restaurants on the same block. They are Uncle Linny's and Food & Brews, of which he runs his catering business. After an eventful weekend of bridal shows with his Co-Founder, Jessica, they realized they should create a space for people to celebrate special occasions. This is how they ended up renovating a plaza that had been abandoned for 20 years. The project has taken them on a three-year journey. Now, we proudly present the beautiful space we created for our community. We hope to see you soon & cannot wait to help plan your "Forever After" events.
                </p>
            </div>
        </div>
        <img class="img-fluid mb-5" src="https://img1.wsimg.com/isteam/ip/a1eb2d1c-d4b8-4302-a7d1-bde625bfd019/IMG_0748.png/:/rs=w:1280,h:393" alt="..." />
    </div>
</section>