<section class="about-section text-center bg-dark pt-3" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 mt-5">
                <h2 class="text-white mb-4">About Us</h2>
                <p class="text-white-50">
                    “Unforgettable moments only last seconds but give us the memories that last "Forever After...."
                    -Forever After, Banquet and Event Center was established in 2022, with the idea of becoming one of
                    the most unique, efficient, elegant and affordable venues in the metro East. We are located in
                    Pontoon Beach IL, right accross the Mississippi River. Our venue is operated by management of Uncle
                    Linnys Restaurant which have been in business for over 20 years. Our facility can accommodate up to
                    350 guests, with a outdoor patio of 8,000 sq feet which is designed for ceremonies and other outdoor
                    activities. Our goal is to create a memorable moments that will last forever and our facility can do
                    just that!!
                    -We hope to see you soon and cannot wait to help plan your “Forever After” event.
                </p>
            </div>
        </div>
        <img class="img-fluid mb-5"
            src="https://img1.wsimg.com/isteam/ip/a1eb2d1c-d4b8-4302-a7d1-bde625bfd019/IMG_0748.png/:/rs=w:1280,h:393"
            alt="..." />
    </div>
</section>