.contact-section {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.contact-details i {
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.social-links .fa-square-facebook {
  color: var(--primary-color);
}
