<section class="contact-section text-center" id="contact">
  <div class="container py-5">
    <h2 class="mb-4">Contact Us</h2>
    <p class="lead">We would love to hear from you! Reach out with any questions about booking your event.</p>
    <div class="contact-details mt-4">
      <p><i class="fa-solid fa-location-dot"></i> 4020 Pontoon Road, Granite City, Illinois 62040</p>
      <p><i class="fa-solid fa-envelope"></i> <a href="mailto:foreverafter4@yahoo.com">foreverafter4@yahoo.com</a></p>
      <p><i class="fa-solid fa-phone"></i> <a href="tel:6185939499">618-593-9499</a></p>
    </div>
    <div class="social-links mt-4">
      <a href="https://www.facebook.com/people/Forever-After-Banquet-and-Event-Center-Inc/61550070506240/" target="_blank" class="btn btn-link"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
    </div>
  </div>
</section>
