<app-nav></app-nav>
<section class="projects-section bg-dark pb-5" id="services">
    <div class="container px-4 px-lg-5" style="white-space: pre-wrap">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center" *ngFor="let item of menu; let i = index">
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center" *ngIf="check(i)">
                <div class="col-lg-6"><img class="img-fluid" [src]="item.image" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left p-3">
                                <h4 class="text-white">{{item.title}}</h4>
                                <p class="mb-0 text-white-50">
                                    {{item.about}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-0 justify-content-center" *ngIf="!check(i)">
                <div class="col-lg-6"><img class="img-fluid" [src]="item.image" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right p-3">
                                <h4 class="text-white">{{item.title}}</h4>
                                <p class="mb-0 text-white-50">
                                    {{item.about}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>