<app-nav></app-nav>
<div class="p-2 w-100 pb-5 mt-5 d-flex justify-content-center">
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
        <span *ngFor="let num of arr; let i = index" attr.data-src="../../assets/img/4ever/{{i+1}}.jpg" >
        <a *ngIf="![46,47,18,9,23,26].includes(i+1)"  href="../../assets/img/4ever/{{i+1}}.jpg">
            <img alt="img1" src="../../assets/img/4ever/{{i+1}}.jpg" class="img-fluid"/>
        </a>
    </span>
    </lightgallery>
</div>
<app-footer></app-footer>