<app-nav></app-nav>
<div class="p-5 text-center bg-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div>
            <div class="text-white p-3">
                <div class="container text-center">
                    <h1>Get an Estimate</h1>
                    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 justify-content-center">
                        <div class="col">
                            <div class="p-3">
                                <label for="guest">Number Of Guest</label>
                                <input type="number" min="0" class="form-control" id="guest" [(ngModel)]="guest" (change)="getPrice()">
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <div class="form-group">
                                    <label for="bar">Bar Option</label>
                                    <select class="form-control" id="bar" [(ngModel)]="bar" (change)="getPrice()">
                                        <option value="Standard" selected>Standard</option>
                                        <option value="Premium">Premium</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <div class="form-group">
                                    <label for="day">Day Option</label>
                                    <select class="form-control" id="day" [(ngModel)]="day" (change)="getPrice()">
                                        <option value="Weekend" selected>Weekend</option>
                                        <option value="Weekday">Weekday</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h4>Total</h4>
                                <h5>{{total | currency}}*</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justify-content-center">
                    <div class="text-center">
                        <span class="disclaimer">*Please be advised that all prices quoted for our event center services are subject
                            to
                            change without prior notice. Forever After reserves the right to adjust prices based on factors such as
                            market conditions, operational costs, or any other unforeseen circumstances.</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<div class="text-center">
    <div class="container">
        <h2 class="mt-4 mb-4">Price List</h2>
        
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hall Rental</h5>
                        <h6>$3,000</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Weekday Hall Rental
                        </h5>
                        <h6>$1,500</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Standard Bar</h5>
                        <h6>$16 per person (+$3 for premium)</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Catering
                        </h5>
                        <h6>$16 per person</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Bartender Fee
                        </h5>
                        <h6>$200</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Bar Setup Fee
                        </h5>
                        <h6>
                            $50</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center pb-5">
    <div class="container">
        <h2 class="mt-4 mb-4">Add Ons</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Fog Entrance
                        </h5>
                        <h6>$150</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Water Service

                        </h5>
                        <h6>$200</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Cake Cutting
                        </h5>
                        <h6>$200</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Sparkler Exit

                        </h5>
                        <h6>$350</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Security For Five Hours

                        </h5>
                        <h6>$250</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Ceramic White Place Setting

                        </h5>
                        <h6>
                            $4</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Champagne Toast


                        </h5>
                        <h6>
                            $2</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>