<app-nav></app-nav>
<div class="p-5 text-center bg-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <div class="text-white p-3">
                    <div class="container text-center">
                        <h1>Get an Estimate</h1>
                        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 justify-content-center">
                            <div class="col">
                                <div class="p-3">
                                    <label for="guest">Number Of Guest</label>
                                    <input type="number" min="50" max="350" class="form-control" id="guest" [(ngModel)]="guest"
                                        (keyup)="getPrice()">
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-3">
                                    <div class="form-group">
                                        <label for="bar">Bar Option</label>
                                        <select class="form-control" id="bar" [(ngModel)]="bar" (change)="getPrice()">
                                            <option value="Standard" selected>Standard</option>
                                            <option value="Premium">Premium</option>
                                            <option value="Limited Bar">Limited Bar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col" *ngIf="this.bar === 'Limited Bar'">
                                <div class="p-3">
                                    <label for="bar">Add Amount to Bar</label>
                                    <input type="number" min="1500" max="10000" class="form-control" id="bar" [(ngModel)]="limitedBarAmount"
                                        (keyup)="getPrice()">
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-3">
                                    <div class="form-group">
                                        <label for="day">Day Option</label>
                                        <select class="form-control" id="day" [(ngModel)]="day" (change)="getPrice()">
                                            <option value="Weekend" selected>Weekend</option>
                                            <option value="Weekday">Weekday</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-3">
                                    <h4>Total</h4>
                                    <h5>{{total | currency}}*</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <button class="btn btn-primary" type="button" (click)="basicCollapse.toggle()"
                                    [attr.aria-expanded]="!basicCollapse.collapsed" aria-controls="collapseExample">
                                    Add Ons
                                </button>
                                <!--Collapsed content-->
                                <div class="mt-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
                                      <div class="form-check form-check-inline">
                                        <input
                                        (change)="onChange(200)"
                                          mdbCheckbox
                                          class="form-check-input"
                                          type="checkbox"
                                          value="200"
                                        />
                                        <label class="form-check-label" for="inlineCheckbox2">Water Service</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input
                                        (change)="onChange(200)"
                                          mdbCheckbox
                                          class="form-check-input"
                                          type="checkbox"
                                          value="200"
                                        />
                                        <label class="form-check-label">Cake Cutting</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input
                                        (change)="onChange(4)"
                                          mdbCheckbox
                                          class="form-check-input"
                                          type="checkbox"
                                          value="4"
                                        />
                                        <label class="form-check-label" >Ceramic White Place Setting</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input
                                        (change)="onChange(2)"
                                          mdbCheckbox
                                          class="form-check-input"
                                          type="checkbox"
                                          value="2"
                                        />
                                        <label class="form-check-label" >Champagne Toast</label>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        <div class="text-center">
                            <span class="disclaimer">*Please be advised that all prices quoted for our event center
                                services are subject
                                to
                                change without prior notice. Forever After reserves the right to adjust prices based on
                                factors such as
                                market conditions, operational costs, or any other unforeseen circumstances.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-4 mb-4">Décor & Event Coordination</h2>
                <p>We offer a variety of in-house decorations to enhance your event, ensuring a beautifully curated space tailored to your vision. Additionally, we have a carefully selected list of trusted local vendors who go above and beyond to provide exceptional services, from floral arrangements to custom decor and more.
                </p>
                <p>For a seamless experience, we also offer a dedicated Day-of Event Coordinator, available upon request, to manage logistics, oversee setup, and ensure everything runs smoothly so you can enjoy your special day stress-free.
                </p>
            </div>
            <div class="col">
                <h2 class="mt-4 mb-4">Venue Rental Details & Inclusions</h2>
                <p>Your venue rental includes access from 9:00 AM to 11:00 PM, with last call for alcohol at 10:45 PM. Additional hours can be arranged if needed. The rental comes with a beautifully set ceremony space with chairs, an elegant banquet hall with linens, and private suites for both the bride and groom. Complimentary soda, water, and tea are also included.
                </p>
                <p>
                Please note that bartender fees, cleaning fees, and day-of-event insurance are not included in the rental price. Additionally, food and alcohol pricing are separate, and a bar minimum is required. Let us know if you have any special requests or need further details to tailor your experience!
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>