
.img-fluid{
    height: 30em;
}

.bg-image {
    /* The image used */
    background-image: url("../../assets/img/room.png");
  
    /* Set a specific height */
    height: 50em;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }