
.bg-image {
  background-image: url("../../assets/img/room.png");
  height: 50em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mask {
  text-align: center;
}

.img-fluid{
  height: 30em;
}