/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

:root {
    /* Simplified palette using only black and white */
    --primary-color: #6d97ca; /* black */
    --secondary-color: #ffffff; /* white */
    --text-color: #000000; /* black */
    --bg-color: #ffffff; /* white */
    --font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Button color overrides */
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--bg-color) !important;
}

.btn-secondary {
    background-color: var(--bg-color) !important;
    border-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}
